:root {
  --sv-c-white: rgb(255,255,255);
  --sv-c-black: rgb(0,0,0);

  --sv-c-inspectorblue: rgb(23, 151, 192);
  --sv-c-darkblue: rgb(20, 49, 59);
}
.light-mode {
  --color-background: var(--sv-c-white);
  --color-userinfo: var(--sv-c-inspectorblue);
}
.dark-mode {
  --color-background: var(--sv-c-black);
  --color-userinfo: var(--sv-c-darkblue);
}